@model object
@if (Model == null) {
    <text>@ViewData.ModelMetadata.NullDisplayText</text>
} else if (ViewData.TemplateInfo.TemplateDepth > 1) {
    <text>@ViewData.ModelMetadata.SimpleDisplayText</text>
} else {
        <h3>@ViewData.ModelMetadata.SimpleDisplayText</h3>
   foreach (var prop in ViewData.ModelMetadata.Properties.Where(pm => pm.PropertyName != ViewData.ModelMetadata.DisplayName && pm.ShowForDisplay && !ViewData.TemplateInfo.Visited(pm)))
   {
        if (prop.HideSurroundingHtml) {
            <text>@Html.Display(prop.PropertyName)</text>
        } else {
                    
                    <div class="display-label">
                        @prop.GetDisplayName()
                    </div>
                    <div class="display-field">
                        @Html.Display(prop.PropertyName)
                    </div>
        }
    }
}